* {
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}


body {
  
/* background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQYV2NkIBIwEqmOYagplGRgYHiOy3PonsGpGJuvsSrGFTwYigFOCAQLGtrMGAAAAABJRU5ErkJggg==);
  */
  background: #fafafa;

}